<div class="jumbotron">
  <div class="container">
    <img src='/img/logo/tablemates-logo.png'>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et ipsum vel augue vehicula laoreet at eu mi. Duis luctus erat vitae lorem finibus, in tincidunt nisl fermentum. Integer erat dolor, faucibus non turpis gravida, finibus pretium mi. Suspendisse potenti. Nunc ullamcorper turpis non risus dapibus aliquam. Donec id urna eget ligula euismod sagittis eget in sem. Donec venenatis tortor quis placerat lobortis. Morbi et justo risus. Sed ut nulla mi. Praesent ligula ipsum, dignissim a consectetur in, condimentum in ipsum.</p>
    <p>Welcome. Not a user?  <a href="#">Register now.</a>
  </div>
</div>
