<div class='apptTitle'>
Appointments
</div>
<hr>
<div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Restaurant Name</th>
                <th>Attendees</th>
                <th>Max Attendees</th>
                <th>Min Attendees</th>
                <th>View Appointment</th>
                <th>Attend?</th>
              </tr>
            </thead>
            <tbody id="apptable">
            </tbody>
          </table>
        </div>
<!-- <script type="text/javascript">
$(document).ready(function() {
  $.ajax({
    url: 'http://newtablemates.azurewebsites.net/api/Appointment',
    type: 'GET',
    dataType: 'json',

  })
  .done(function(data) {
    console.log("success");
    console.log(data);
    for (var i = 0; i < data.length; i++) {
  //     "ID": 1,
  // "Lat": 41.902874,
  // "Lng": -87.6288,
  // "MinAttendees": 1,
  // "MaxAttendees": 4,
  // "AppointmentName": "First Date",
  // "RestaurantName": "Lou Malnatis",
  // "AppointmentDate": "2016-01-30T14:00:00",
  // "Users": null
      var restaurant = data[i].RestaurantName;
      var tableRow = $("<tr>");
      var attendees = "";
      var maxAttendees = data[i].MaxAttendees.toString();
      var minAttendees = data[i].MinAttendees.toString();
      var tableRowEnd = $("</tr>");

      var view = document.createElement("button");
      view.innerHTML = 'view';
      view.className = data[i].ID;
      view.onclick = function(){
        location.href='/appointments/'+this.className;
      };

      var attend = document.createElement("button");
      attend.innerHTML = 'attend';
      attend.id = data[i].ID;
      attend.className = 'btnClass';
      attend.onclick = function(){
        attendButton(this.id);
      };

      var tdAttend = document.createElement("td");
      tdAttend.appendChild(attend);
      var td = document.createElement("td");
      td.appendChild(view);
      $('#apptable').append(tableRow);
      tableRow.append("<td>" + restaurant + "</td>");
      tableRow.append("<td>" + attendees + "</td>");
      tableRow.append("<td>" + maxAttendees + "</td>");
      tableRow.append("<td>" + minAttendees + "</td>");
      tableRow.append(td);
      tableRow.append(tdAttend);
      $('#apptable').append(tableRowEnd);

    }

  })
  .fail(function() {
    console.log("error");
  });
});



var attendButton = function(apptID){
  console.log('id::: ' + apptID)
  $.ajax({
    url: '/api/appointments/attend/' + apptID,
    type: 'PUT',
    dataType: 'json'

  })
  .done(function(data) {
    console.log("success");
    $("#" + apptID).hide();
    // $('.btnClass').eq(4).hide();
    // $("#" + apptID).eq(6).hide();
  })
  .fail(function() {
    console.log("error");
  })
  .always(function() {
    console.log("complete");
  });

}
</script> -->
