<div class='apptTitle'>
Appointments
</div>
<hr>
<div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Restaurant Name</th>
                <th>Attendees</th>
                <th>Max Attendees</th>
                <th>Min Attendees</th>
                <th>View Appointment</th>
                <th>Attend?</th>
              </tr>
            </thead>
            <tbody id="apptable">
            </tbody>
          </table>
        </div>
<script type="text/javascript">
$(document).ready(function() {
  $.ajax({
    url: '/api/appointments',
    type: 'GET',
    dataType: 'json',
  })
  .done(function(data) {
    console.log("success");
    console.log(data);
    for (var i = 0; i < data.length; i++) {
      var restaurant = data[i].restaurant;
      var tableRow = $("<tr>");
      var attendees = data[i].attendees.toString();
      var maxAttendees = data[i].maxAttendees.toString();
      var minAttendees = data[i].minAttendees.toString();
      var tableRowEnd = $("</tr>");
      var view = document.createElement("input");
      view.type = 'button';
      view.value = 'view';
      view.id = 1;
      view.name = 'view';
      view.onclick = function(){
        alert('view appointment');
      }
      var attend = document.createElement("button");
      attend.innerHTML = 'attend';
      attend.id = data[i]._id;
      attend.onclick = function(){
        attendButton(this.id);
      };

      var tdAttend = document.createElement("tdAttend");
      tdAttend.appendChild(attend);
      var td = document.createElement("td");
      td.appendChild(view);
      $('#apptable').append(tableRow);
      tableRow.append("<td>" + restaurant + "</td>");
      tableRow.append("<td>" + attendees + "</td>");
      tableRow.append("<td>" + maxAttendees + "</td>");
      tableRow.append("<td>" + minAttendees + "</td>");
      tableRow.append(td);
      tableRow.append(tdAttend);
      $('#apptable').append(tableRowEnd);

    }

  })
  .fail(function() {
    console.log("error");
  });
});

var attendButton = function(apptID){
  $.ajax({
    url: '/api/appointments/attend/' + apptID,
    type: 'PUT',
    dataType: 'json',
  })
  .done(function(data) {
    console.log("success");
    $("#" + apptID).hide(); 
  })
  .fail(function() {
    console.log("error");
  })
  .always(function() {
    console.log("complete");
  });

}
</script>
