<!-- <h1>{{title}}</h1>
<p>Welcome {{user}}!!</p>

<<<<<<< HEAD
<h3>Is this the wrong user???
<p></p>
click here to <a href='/account/login'>Login</a> or <a href='/account/register'>Register</a></h3> -->


{{!< layout/default}}

<div class="jumbotron">
  <div class="container">
    <img src='/img/logo/tablemates-logo.png'>
    <p>Welcome. Not a user?  <a href="/account/register">Register now</a>. Or <a href="/account/login">login.</a>
    <p><a class="btn btn-warning btn-lg" href="/about" role="button">About &raquo;</a></p>
  </div>
</div>
<div class="container">

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Ming Hin Cuisine</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="/appointments" role="button">View appointments &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Little Goat</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="/appointments" role="button">View appointments &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Cantina 1910</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="/appointments" role="button">View appointments &raquo;</a></p>
    </div>
  </div>

  <hr>
