<h1>Login</h1>

<form action="/account/login" method="post">
  <input type="text" name="username" placeholder="Your account name">
  <input type="password" name="password" placeholder="Your secret password">
  <input type="submit" value="Sign in">
</form>
