<h1>Welcome, <h1 id='username'>{{user.username}}</h1></h1>

<div class='apptTitle'>
Appointments
</div>
<hr>
<div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Restaurant Name</th>
                <th>Attendees</th>
                <th>Max Attendees</th>
                <th>Min Attendees</th>
                <th>view</th>
                <th>remove?</th>
              </tr>
            </thead>
            <tbody id="apptable">
            </tbody>
          </table>
        </div>
<script type="text/javascript">
$(document).ready(function() {
  var username = document.getElementById('username').innerHTML;
  $.ajax({
    url: '/api/appointments',
    type: 'GET',
    dataType: 'json',
  })
  .done(function(data) {
    console.log("success");
    console.log(data);
    var count = 0
    for (var i = 0; i < data.length; i++) {
      if (data[i].attendees[0] != null){
        var names = data[i].attendees;
        console.log(names);
        for (var j = 0; j < names.length; j++) {
          if(names[j]== username || names[j]== (' ' + username)){
            count = count + 1
            var restaurant = data[i].restaurant;
            var tableRow = $("<tr>");
            var attendees = data[i].attendees.toString();
            var max = data[i].maxAttendees;
            var min = data[i].minAttendees;
            //  var removeBtn = document.createElement('td');

             var remove = document.createElement("button");
             remove.className = 'appointmentClass'
             remove.id = data[i]._id;
             remove.innerHTML = 'remove';
             remove.onclick = function (){
              removeMyself(this.id);
             };

             var view = document.createElement("button");
             view.innerHTML = 'view';
             view.id = data[i]._id;
             view.className = 'btnClass';
             var id = data[i]._id;
             view.onclick = function(){
               location.href='/appointments/'+this.id;
             };

            var tdView = document.createElement('td');
            tdView.appendChild(view);
            var tdRemove = document.createElement('td');
            tdRemove.appendChild(remove);

            $('#apptable').append(tableRow);
            tableRow.append("<td>" + restaurant + "</td>");
            tableRow.append("<td>" + attendees + "</td>");
            tableRow.append("<td>" + max + "</td>");
            tableRow.append("<td>" + min + "</td>");
            tableRow.append(tdView);
            tableRow.append(tdRemove);
          }
        }
      }
    }
  })
  .fail(function() {
    console.log("error");
  });
});

var removeMyself = function(appointmentID){
  $.ajax({
    url: '/appointments/removeMyself/' + appointmentID,
    type: 'PUT',
    dataType: 'json'
  })
  .done(function(data) {
    console.log("success");
    console.log(data);
  })
  .fail(function() {
    console.log("error");
  })
  .always(function() {
    console.log("complete");
  });

};
</script>
