<navigation></navigation>
<div class='apptTitle'>
Appointments for {{vm.currentUser.name}}
</div>
<hr>
<div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Appointment Name</th>
                <th>Restaurant Name</th>
                <th>Attendees</th>
                <th>Max Attendees</th>
                <th>Min Attendees</th>
                <th>View Appointment</th>
                <th>Attend?</th>
              </tr>
            </thead>
            <tbody id="apptable" ng-repeat="appointment in vm.data.appointments">
              <td>{{appointment.AppointmentName}}</td>
              <td>{{appointment.RestaurantName}}</td>
              <td><span ng-repeat="attendee in appointment.Attendees">{{attendee.username}} </span></td>
              <td>{{appointment.MaxAttendees}}</td>
              <td>{{appointment.MinAttendees}}</td>
              <td><a href="/#/appointment/{{appointment.ID}}"><button class="btn btn-default">View Appointment</button></a></td>
              <td><button ng-show="{{appointment.canAttend}}" class="btn btn-default" ng-click="vm.attend({{vm.currentUser.name}} , {{appointment.ID}})">Attend</button></td>
            </tbody>
          </table>
</div>
